body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0px;
}

.body-left p {
	font-size: medium;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	background-color: blueviolet;
	border: none;
	border-bottom: chartreuse;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: darkgrey;
	padding: 4px;
}
